@font-face {
	font-family: "MuseoSansRounded";
	src: url('../fonts/museosansrounded.woff');
}

* {
	box-sizing: border-box;
} 

html, body {
	height: 100%;
}
body {
	background-color: #c5c5c8;
	background-image: url('../img/Layer6.png'), url('../img/Layer5.png'), url('../img/Group 3 copy.png'), url('../img/Layer0.png'); 
	background-size: cover, 100%;
	background-repeat: no-repeat;
	background-position: center;	
	overflow: hidden;
}
main {
	background-color: #111a28;
	width: 686px;
	height: 391px;
	margin: 120px auto;
	font-size: 0;
	border-radius: 10px;
	box-shadow: 0 0 30px #111a28;
}
.container {
	width: 55%;
	height: 100%;
	float: left;
}
.container__logo {
	background-image: url('../img/logo.png');
	width: 65px;
	height: 33px;
	background-repeat: no-repeat; 
	display: inline-block; 	
	margin-top: 24px;
	margin-left: 21px;
}
.container__logo:hover {
	opacity: 0.6;
}

.container__image {
	width: 345px;
	height: 175px;
	background-repeat: no-repeat;
	margin-top: 60px;
	margin-left: 30px;
}

.container__circle {
	margin: 0 auto;
	width: 100%; 
	margin-top: 65px;
}

.container__circle-bg {
	display: inline-block; 
	width: 100%;
	text-align: center;
}

.container__circle-blue,
.container__circle-white,
.container__circle-red,
.container__circle-green,
.container__circle-blue a,
.container__circle-white a,
.container__circle-red a,
.container__circle-green a  {	
	display: inline-block; 
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	margin: 0 auto;
	border: 1px solid transparent;
	margin-right: 5px;
}

.container__circle-blue a {
	background-color: #1f273f;
}

.container__circle-white a  {
	background-color: #ffffff;
}

.container__circle-red a {
	background-color: #ed3333;
}

.container__circle-green a {
	background-color: #29e3ea;
}

.container__circle-blue a:hover,
.container__circle-white a:hover, 
.container__circle-red a:hover, 
.container__circle-green a:hover,
.container__circle-blue a:active,
.container__circle-white a:active, 
.container__circle-red a:active, 
.container__circle-green a:active,
.container__circle-blue.active {
	border: 1px solid #ffffff;
	-webkit-transform: scale(1.3, 1.3);
	   -moz-transform: scale(1.3, 1.3);
	    -ms-transform: scale(1.3, 1.3);
	     -o-transform: scale(1.3, 1.3);
	        transform: scale(1.3, 1.3);
}

.container__options {
	width: 45%;
	float: right;
	padding: 0 40px 70px 35px;
}
.container__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #adafb3;
	padding-top: 70px; 
	margin-bottom: 10px;
	font-family: "MuseoSansRounded", 'Arial', sans-serif;
}
.container__description {
	font-weight: 100;
	font-size: 14px;
	color: #adafb3;
	opacity: 0.5;
	margin-top: 0;
	letter-spacing: 0.5px;
	font-family: "MuseoSansRounded", 'Arial', sans-serif;
	letter-spacing: 1.2px;
	max-height: calc(1.2 * 14px *1);
	overflow: hidden;
}
.container__st {
	margin: 0 auto;
}
.container__stars {
	padding-left: 0;
}
.container__star {
	background-image: url("../img/yellowstar.png");
	width: 14px;
	height:  14px;
	display: inline-block;
	background-repeat: no-repeat;
}
.container__star--grey {
	background-image: url("../img/greystar.png");
}
.vr-size {
	margin-top: 25px;
	display: inline-block;
	text-align: center;
}
.vr-size select {
	display: inline-block;
  	text-decoration: none;
	border-width: 1px;
	border-color:  #ffffff;
	border-style: solid;
	background-color:  #111a28;
	opacity: 0.3;
	width: 67px;
	height: 30px;
	cursor: pointer;
	color:  #e1e1e1;
	font-size: 14px;
	line-height: 18px;
	font-family: 'MuseoSansRounded', 'Arial', sans-serif;
	text-align: center;
	margin-right: 5px;
	padding-left: 5px;
}
.vr-submit {
	margin-top: 30px;
}
.vr-submit-2 {
	cursor: pointer;
	border: 1px	solid  #ffffff;
	background-color: #4c525a;
	font-size: 14px;
	font-weight: 700;
	width: 182px;
	height: 38px;
	opacity: 0.3;
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
	-ms-transition: background .25s ease;
	-o-transition: background .25s ease;
	transition: background .25s ease;
	font-family: 'MuseoSansRounded', 'Arial', sans-serif;
	text-align: center;
	color:  #e1e1e1;
}
.vr-submit button#submit:hover,
.vr-submit button#submit:focus, 
.vr-submit button#submit:active {
	outline: none;
	opacity: .8;
}

